<%- include ../partials/header.ejs  %> 
<%- include ../partials/main_nav.ejs %> 

<!--Content for the Add Page-->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Survey Title</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Survey Title"
                    name="title" required>
                </div>

                <div class="form-group">
                    <p>Select Survey Type:</p>
                    <input type="radio" id="radioField" value="Multiple Choice Question" name="type" checked required>
                    <label for="radioField">Multiple Choice Question</label><br>
                    <input type="radio" id="radioField" value="Short Answer Question" name="type" required>
                    <label for="radioField">Short Answer Question</label>           
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>

                    <a href="/survey-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>
            </form>
        </div>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %> 