    <%- include ../partials/header.ejs  %> 
    <%- include ../partials/main_nav.ejs %> 
    
    <!--Main Content-->
    <main class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-12">
                <h1><%= title %></h1>        
                <% if(typeof displayName=='string'&& displayName){%>
                <a href="/survey-list/add" class="btn btn-primary" role="button">
                    <i class="fas fa-plus-circle"></i>Add Survey</a>
                <% } %> 
                <br>
                <table class="table table-bordered table-striped table-hover">
                    <!-- Header Row-->
                    <tr>
                        
                        <% if(typeof displayName=='string'&& displayName){%>
                            <th class="text-center col-3">Survey Title</th>
                            <th class="text-center col-2">Survey Type</th>
                            <th class="text-center col-2">Responses</th>
                            <th class="text-center col-3"></th>
                            <th class="text-center col-1"></th>
                            <th class="text-center col-1"></th>
                        <% } else { %>
                            <th class="text-center col-5">Survey Title</th>
                            <th class="text-center col-3">Survey Type</th>
                            <th class="text-center col-1">Responses</th>
                            <th class="text-center col-3"></th>
                        <% } %> 
                    </tr>
                    <!-- Repeatable Template Row-->
                    <% for(let count =0; count<SurveyList.length;count++){%>
                        <tr>
                            <% if(typeof displayName=='string'&& displayName){%>
                                <td class="text-center col-3"><%= SurveyList[count].title %></td>
                                <td class="text-center col-2"><%= SurveyList[count].type %></td>
                                <td class="text-center col-2">
                                    <%= SurveyList[count].responses %>
                                </td>
                                <% if (SurveyList[count].type == 'Short Answer Question') { %>
                                    <td class="text-center col-3">
                                        <a href="/survey-list/questions/<%= SurveyList[count]._id %>" class="btn btn-secondary">
                                            Add Question</a>
                                    </td>
                                <% } else { %>
                                    <td class="text-center col-3">
                                        <a href="/survey-list/questions-mcq/<%= SurveyList[count]._id %>" class="btn btn-secondary">
                                            Add Question</a>
                                    </td>
                                <% } %>
                                <td class="text-center col-1">
                                    <a href="/survey-list/edit/<%= SurveyList[count]._id %>" class="btn btn-primary btn-sm">
                                    <i class="fas fa-pencil-alt"></i> Update</a>
                                </td>
                                <td class="text-center col-1">
                                    <a href="/survey-list/delete/<%= SurveyList[count]._id %>" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i> Delete</a>
                                </td>
                            <% } else { %> 
                                <td class="text-center col-5"><%= SurveyList[count].title %></td>
                                <td class="text-center col-3"><%= SurveyList[count].type %></td>
                                <td class="text-center col-1">
                                    <%= SurveyList[count].responses %>
                                </td>
                                <% if (SurveyList[count].type == 'Short Answer Question') { %>
                                    <td class="text-center col-3" id="btndisabled">
                                            <a href="/survey-list/attend-survey/<%= SurveyList[count]._id %>" class="btn btn-primary ">
                                                Attend</a>
                                    </td>
                                <% } else { %>
                                    <td class="text-center col-3" id="btndisabled">
                                        <a href="/survey-list/attend-mcq/<%= SurveyList[count]._id %>" class="btn btn-primary">
                                            Attend</a>
                                    </td>
                                <% } %>
                             <% } %>
                        </tr>
                    <%}%>
                </table>
            </div>
        </div>
    </main>
    
    <%- include ../partials/bottom_nav.ejs %>
    <%- include ../partials/footer.ejs %> 